In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('binance_api_finetune_15min_sRSI-BB.csv')

In [20]:
df

,timestamp,open,high,low,close,Bear,Volatile,Bull,rsi,stochrsi_k,stochrsi_d,bb_upper,bb_middle,bb_lower
0,2023-03-01 13:00:00,23722.60,23735.17,23661.37,23685.87,0,1,0,46.720630,0.078369,0.129473,23842.480815,23758.3325,23674.184185
1,2023-03-01 13:15:00,23685.87,23709.67,23636.50,23646.54,0,1,0,42.247494,0.078369,0.124888,23850.827189,23753.9030,23656.978811
2,2023-03-01 13:30:00,23647.11,23710.43,23616.45,23668.02,0,1,0,45.326263,0.089758,0.122604,23853.257598,23749.4055,23645.553402
3,2023-03-01 13:45:00,23668.02,23703.48,23653.16,23689.45,0,1,0,48.288154,0.112104,0.122151,23832.051384,23740.4890,23648.926616
4,2023-03-01 14:00:00,23689.97,23711.00,23651.09,23688.07,0,1,0,48.107418,0.122106,0.121579,23810.147526,23732.1890,23654.230474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17589,2023-08-31 19:30:00,26156.77,26269.77,26156.77,26258.31,1,0,0,31.112438,0.397164,0.205153,27238.705708,26542.0810,25845.456292
17590,2023-08-31 19:45:00,26258.31,26267.67,26150.00,26162.79,1,0,0,28.128671,0.457690,0.229386,27142.217639,26491.4375,25840.657361
17591,2023-08-31 20:00:00,26162.79,26185.34,26065.00,26142.37,1,0,0,27.521037,0.515996,0.258284,27026.133732,26439.8075,25853.481268
17592,2023-08-31 20:15:00,26142.36,26182.51,26111.34,26177.88,1,0,0,30.339166,0.581869,0.291887,26890.256640,26391.4685,25892.680360
17593,2023-08-31 20:30:00,26177.87,26194.86,26115.99,26125.39,1,0,0,28.570763,0.610896,0.325839,26801.104228,26351.9525,25902.800772

In [21]:
df['change'] = None

for i in range(1, len(df)):
    close = df.iloc[i, 4]
    previous_close = df.iloc[i-1, 4]

    change = close - previous_close
    change_percentage = change * 100 / close
    df.loc[i,'change'] = change_percentage

In [22]:
df = df.iloc[1:,:]
df.reset_index(drop=True, inplace=True)

In [23]:
df

,timestamp,open,high,low,close,Bear,Volatile,Bull,rsi,stochrsi_k,stochrsi_d,bb_upper,bb_middle,bb_lower,change
0,2023-03-01 13:15:00,23685.87,23709.67,23636.50,23646.54,0,1,0,42.247494,0.078369,0.124888,23850.827189,23753.9030,23656.978811,-0.166325
1,2023-03-01 13:30:00,23647.11,23710.43,23616.45,23668.02,0,1,0,45.326263,0.089758,0.122604,23853.257598,23749.4055,23645.553402,0.090755
2,2023-03-01 13:45:00,23668.02,23703.48,23653.16,23689.45,0,1,0,48.288154,0.112104,0.122151,23832.051384,23740.4890,23648.926616,0.090462
3,2023-03-01 14:00:00,23689.97,23711.00,23651.09,23688.07,0,1,0,48.107418,0.122106,0.121579,23810.147526,23732.1890,23654.230474,-0.005826
4,2023-03-01 14:15:00,23688.07,23703.14,23663.00,23685.29,0,1,0,47.719934,0.123680,0.119785,23803.109309,23727.0465,23650.983691,-0.011737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17588,2023-08-31 19:30:00,26156.77,26269.77,26156.77,26258.31,1,0,0,31.112438,0.397164,0.205153,27238.705708,26542.0810,25845.456292,0.386697
17589,2023-08-31 19:45:00,26258.31,26267.67,26150.00,26162.79,1,0,0,28.128671,0.457690,0.229386,27142.217639,26491.4375,25840.657361,-0.365099
17590,2023-08-31 20:00:00,26162.79,26185.34,26065.00,26142.37,1,0,0,27.521037,0.515996,0.258284,27026.133732,26439.8075,25853.481268,-0.078111
17591,2023-08-31 20:15:00,26142.36,26182.51,26111.34,26177.88,1,0,0,30.339166,0.581869,0.291887,26890.256640,26391.4685,25892.680360,0.135649
17592,2023-08-31 20:30:00,26177.87,26194.86,26115.99,26125.39,1,0,0,28.570763,0.610896,0.325839,26801.104228,26351.9525,25902.800772,-0.200916

In [24]:
for i in range(len(df)):
    if df.loc[i, 'change'] * 100 == 0: print(f"There is a time period (index {i}) with zero change!")

There is a time period (index 2201) with zero change!
There is a time period (index 2202) with zero change!
There is a time period (index 2203) with zero change!
There is a time period (index 2204) with zero change!
There is a time period (index 2205) with zero change!
There is a time period (index 4339) with zero change!
There is a time period (index 12530) with zero change!
There is a time period (index 13063) with zero change!
There is a time period (index 13564) with zero change!
There is a time period (index 13748) with zero change!
There is a time period (index 13906) with zero change!
There is a time period (index 14342) with zero change!
There is a time period (index 15783) with zero change!
There is a time period (index 15791) with zero change!
There is a time period (index 15885) with zero change!
There is a time period (index 16186) with zero change!

In [25]:
df = df[~(df['change'] == 0)].reset_index(drop=True)

In [26]:
# eÄŸer bull bir Ã¶nceki deÄŸerde 1 deÄŸilse ve ÅŸimdi 1 ise
# eÄŸer bull bir Ã¶nceki deÄŸerde 1 ise ve ÅŸimdi 

# df['investment'] = 100 #$
# for i in range(0, len(df)-1):
#     if df.loc[i, 'bull'] == 1:
#         df.loc[i+1, 'investment'] = (df.loc[i, 'investment'] * df.loc[i+1, 'change'] / 100) + df.loc[i-1, 'investment'] #inside
#     elif df.loc[i, 'volatile'] == 1:
#         if df.loc[i, 'investment'] != df.loc[i-1, 'investment']:
#             df.loc[i+1, 'investment'] = (df.loc[i, 'investment'] * df.loc[i+1, 'change'] / 100) + df.loc[i-1, 'investment'] #inside
#         else: df.loc[i+1, 'investment'] = df.loc[i, 'investment'] #not inside
    
#     elif df.loc[i, 'bear'] == 1: df.loc[i+1, 'investment'] = df.loc[i, 'investment'] #not inside

# df.loc[:,['bear', 'volatile', 'bull', 'change', 'investment']]
# print("The investment strategy profits {:.0f}%".format(df.iloc[-1, -1] - df.iloc[0, -1]))

In [27]:
# df['investment'] = 100 #$
# for i in range(0, len(df)-1):
#     if df.loc[i, 'bull'] == 1:
#         df.loc[i+1, 'investment'] = (df.loc[i, 'investment'] * df.loc[i+1, 'change'] / 100) + df.loc[i-1, 'investment'] #inside
#     elif df.loc[i, 'volatile'] == 1: df.loc[i+1, 'investment'] = df.loc[i, 'investment'] #not insid
  
#     elif df.loc[i, 'bear'] == 1: df.loc[i+1, 'investment'] = df.loc[i, 'investment'] #not inside

# df.loc[:,['bear', 'volatile', 'bull', 'change', 'investment']]
# print("The investment strategy profits {:.0f}%".format(df.iloc[-1, -1] - df.iloc[0, -1]))

In [28]:
df.columns.to_series(index=range(len(df.columns)))

0      timestamp
1           open
2           high
3            low
4          close
5           Bear
6       Volatile
7           Bull
8            rsi
9     stochrsi_k
10    stochrsi_d
11      bb_upper
12     bb_middle
13      bb_lower
14        change
dtype: object

In [29]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaled_array = scaler.fit_transform(df.iloc[:,[4,8,9,10,11,12,13]])

scaled_df_X = pd.DataFrame(data = scaled_array, columns=[
 'close',
 'rsi',
 'stochrsi_k',
 'stochrsi_d',
 'bb_upper',
 'bb_middle',
 'bb_lower'])

change_X = df.iloc[:,-1:]

change_X

         change
0     -0.166325
1      0.090755
2      0.090462
3     -0.005826
4     -0.011737
...         ...
17572  0.386697
17573 -0.365099
17574 -0.078111
17575  0.135649
17576 -0.200916

[17577 rows x 1 columns]

In [30]:
x = pd.concat([scaled_df_X, change_X], axis=1)

In [31]:
df[['Bear', 'Volatile', 'Bull']].value_counts()

Bear  Volatile  Bull
0     1         0       8211
      0         1       4686
1     0         0       4680
dtype: int64

In [32]:
target = df.iloc[:,5:8]
target.reset_index(drop=True, inplace=True)
target

       Bear  Volatile  Bull
0         0         1     0
1         0         1     0
2         0         1     0
3         0         1     0
4         0         1     0
...     ...       ...   ...
17572     1         0     0
17573     1         0     0
17574     1         0     0
17575     1         0     0
17576     1         0     0

[17577 rows x 3 columns]

**How does labeled data perform?** (for train set)

In [33]:
x.values

array([[0.33397918397117676, 0.4193604630538328, 0.06932414055929835,
        ..., 0.3386168061237065, 0.34894132307314263,
        -0.1663245447325406],
       [0.3357615657742865, 0.4535465000024058, 0.08105627455337867, ...,
        0.33822986956646117, 0.34797721194209075, 0.09075537370679745],
       [0.3375397986439628, 0.4864347332878509, 0.10407515583302071, ...,
        0.3374627500972722, 0.3482618540455287, 0.0904622099711065],
       ...,
       [0.5410798346069177, 0.25584085369369847, 0.5201326349712819, ...,
        0.5696951030264295, 0.5342889541435127, -0.07811074512372786],
       [0.5440264071315188, 0.2871327903369736, 0.5879906128466243, ...,
        0.5655363200935359, 0.5375966940767283, 0.13564887607400614],
       [0.539670856812839, 0.2674967963393592, 0.6178913484317234, ...,
        0.5621366124790592, 0.5384506855255746, -0.20091566097195718]],
      dtype=object)

In [34]:
from myCombinedLSTMClassifier import My_Combined_LSTM_Classifier

myObject1 = My_Combined_LSTM_Classifier(
    x = x.values,
    y = target.values,
    test_num=3000,
    time_steps=28,
    model_activation = 'tanh',
    dropout=0.3,
    hidden_layer_num=3,
    epoch = 30,
    fit_verbose = 1,
    batch_size=64
)

Epoch 1/30
228/228 [==============================] - 26s 72ms/step - loss: 1.0786 - accuracy: 0.4359
Epoch 2/30
228/228 [==============================] - 17s 73ms/step - loss: 1.0762 - accuracy: 0.4365
Epoch 3/30
228/228 [==============================] - 17s 73ms/step - loss: 1.0757 - accuracy: 0.4365
Epoch 4/30
228/228 [==============================] - 19s 83ms/step - loss: 1.0759 - accuracy: 0.4360
Epoch 5/30
228/228 [==============================] - 17s 76ms/step - loss: 1.0753 - accuracy: 0.4363
Epoch 6/30
228/228 [==============================] - 20s 89ms/step - loss: 1.0750 - accuracy: 0.4361
Epoch 7/30
228/228 [==============================] - 19s 81ms/step - loss: 1.0745 - accuracy: 0.4367
Epoch 8/30
228/228 [==============================] - 19s 82ms/step - loss: 1.0746 - accuracy: 0.4367
Epoch 9/30
228/228 [==============================] - 17s 75ms/step - loss: 1.0734 - accuracy: 0.4353
Epoch 10/30
228/228 [==============================] - 17s 74ms/step - loss: 1.0734 - accuracy: 0.4364
Epoch 11/30
228/228 [==============================] - 18s 79ms/step - loss: 1.0720 - accuracy: 0.4363
Epoch 12/30
228/228 [==============================] - 17s 75ms/step - loss: 1.0714 - accuracy: 0.4380
Epoch 13/30
228/228 [==============================] - 21s 93ms/step - loss: 1.0709 - accuracy: 0.4362
Epoch 14/30
228/228 [==============================] - 19s 81ms/step - loss: 1.0708 - accuracy: 0.4378
Epoch 15/30
228/228 [==============================] - 20s 86ms/step - loss: 1.0677 - accuracy: 0.4391
Epoch 16/30
228/228 [==============================] - 19s 84ms/step - loss: 1.0672 - accuracy: 0.4384
Epoch 17/30
228/228 [==============================] - 22s 97ms/step - loss: 1.0669 - accuracy: 0.4426
Epoch 18/30
228/228 [==============================] - 25s 110ms/step - loss: 1.0657 - accuracy: 0.4388
Epoch 19/30
228/228 [==============================] - 22s 95ms/step - loss: 1.0672 - accuracy: 0.4413
Epoch 20/30
228/228 [==============================] - 23s 101ms/step - loss: 1.0632 - accuracy: 0.4438
Epoch 21/30
228/228 [==============================] - 21s 93ms/step - loss: 1.0626 - accuracy: 0.4439
Epoch 22/30
228/228 [==============================] - 21s 91ms/step - loss: 1.0598 - accuracy: 0.4438
Epoch 23/30
228/228 [==============================] - 21s 92ms/step - loss: 1.0579 - accuracy: 0.4495
Epoch 24/30
228/228 [==============================] - 21s 91ms/step - loss: 1.0560 - accuracy: 0.4468
Epoch 25/30
228/228 [==============================] - 21s 93ms/step - loss: 1.0539 - accuracy: 0.4516
Epoch 26/30
228/228 [==============================] - 20s 88ms/step - loss: 1.0515 - accuracy: 0.4574
Epoch 27/30
228/228 [==============================] - 20s 86ms/step - loss: 1.0515 - accuracy: 0.4533
Epoch 28/30
228/228 [==============================] - 20s 87ms/step - loss: 1.0488 - accuracy: 0.4588
Epoch 29/30
228/228 [==============================] - 20s 86ms/step - loss: 1.0475 - accuracy: 0.4600
Epoch 30/30
228/228 [==============================] - 20s 86ms/step - loss: 1.0479 - accuracy: 0.4576
94/94 [==============================] - 6s 25ms/step
Train Accuracy:  45.76
Test Accuracy: 58.03
-|--|--|--|- Confusion Matrix -|--|--|--|-
                Predicted Bear  Predicted Volatile  Predicted Bull
Read Bear                   8                 636              47
Real Volatile              35                1689             126
Read Bull                   0                 415              44
Profit: 0.94%

In [18]:
myObject1.model_tune(
    test_num = [3000], 
    epoch = [10,20], 
    time_steps = [14,28], 
    units = [25,50], 
    dropout = [0.2,0.4], 
    hidden_layer_num = [3,4], 
    model_activation = ['relu'], 
    batch_size = [16,32]
)

THE MODEL IS TUNING!
SEE U AN ETERNITY LATER *_*

Total Progress is creating by 64 steps.

Tune Step: 1/64 is done! It took 3 min 5 sec
Tune Step: 2/64 is done! It took 1 min 41 sec
Tune Step: 3/64 is done! It took 3 min 48 sec
Tune Step: 4/64 is done! It took 2 min 11 sec
Tune Step: 5/64 is done! It took 3 min 4 sec
Tune Step: 6/64 is done! It took 1 min 46 sec
Tune Step: 7/64 is done! It took 3 min 47 sec
Tune Step: 8/64 is done! It took 2 min 28 sec
Tune Step: 9/64 is done! It took 4 min 24 sec
Tune Step: 10/64 is done! It took 2 min 11 sec
Tune Step: 11/64 is done! It took 5 min 53 sec
Tune Step: 12/64 is done! It took 3 min 17 sec
Tune Step: 13/64 is done! It took 3 min 27 sec
Tune Step: 14/64 is done! It took 2 min 8 sec
Tune Step: 15/64 is done! It took 4 min 15 sec
Tune Step: 16/64 is done! It took 2 min 37 sec
Tune Step: 17/64 is done! It took 5 min 8 sec
Tune Step: 18/64 is done! It took 2 min 45 sec
Tune Step: 19/64 is done! It took 6 min 17 sec
Tune Step: 20/64 is done! It took 3 min 24 sec
Tune Step: 21/64 is done! It took 5 min 5 sec
Tune Step: 22/64 is done! It took 2 min 47 sec
Tune Step: 23/64 is done! It took 6 min 24 sec
Tune Step: 24/64 is done! It took 3 min 28 sec
Tune Step: 25/64 is done! It took 5 min 52 sec
Tune Step: 26/64 is done! It took 3 min 53 sec
Tune Step: 27/64 is done! It took 7 min 37 sec
Tune Step: 28/64 is done! It took 5 min 9 sec
Tune Step: 29/64 is done! It took 6 min 22 sec
Tune Step: 30/64 is done! It took 4 min 5 sec
Tune Step: 31/64 is done! It took 7 min 26 sec
Tune Step: 32/64 is done! It took 4 min 53 sec
Tune Step: 33/64 is done! It took 5 min 49 sec
Tune Step: 34/64 is done! It took 3 min 9 sec
Tune Step: 35/64 is done! It took 7 min 7 sec
Tune Step: 36/64 is done! It took 3 min 52 sec
Tune Step: 37/64 is done! It took 5 min 42 sec
Tune Step: 38/64 is done! It took 3 min 9 sec
Tune Step: 39/64 is done! It took 7 min 2 sec
Tune Step: 40/64 is done! It took 3 min 52 sec
Tune Step: 41/64 is done! It took 6 min 28 sec
Tune Step: 42/64 is done! It took 4 min 14 sec
Tune Step: 43/64 is done! It took 8 min 23 sec
Tune Step: 44/64 is done! It took 6 min 19 sec
Tune Step: 45/64 is done! It took 9 min 9 sec
Tune Step: 46/64 is done! It took 7 min 11 sec
Tune Step: 47/64 is done! It took 12 min 28 sec
Tune Step: 48/64 is done! It took 7 min 35 sec
Tune Step: 49/64 is done! It took 12 min 31 sec
Tune Step: 50/64 is done! It took 6 min 21 sec
Tune Step: 51/64 is done! It took 16 min 34 sec
Tune Step: 52/64 is done! It took 7 min 38 sec
Tune Step: 53/64 is done! It took 10 min 54 sec
Tune Step: 54/64 is done! It took 5 min 38 sec
Tune Step: 55/64 is done! It took 12 min 59 sec
Tune Step: 56/64 is done! It took 6 min 47 sec
Tune Step: 57/64 is done! It took 11 min 33 sec
Tune Step: 58/64 is done! It took 7 min 25 sec
Tune Step: 59/64 is done! It took 14 min 37 sec
Tune Step: 60/64 is done! It took 9 min 29 sec
Tune Step: 61/64 is done! It took 11 min 54 sec
Tune Step: 62/64 is done! It took 7 min 37 sec
Tune Step: 63/64 is done! It took 14 min 45 sec
Tune Step: 64/64 is done! It took 9 min 33 sec

 -|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|  Top 10 Profit and Variables  -|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
   batch_size profit(%) test_accuracy(%) train_accuracy(%) test_num epoch time_steps units dropout hidden_layer_num model_activation
57         32      7.11            45.87             48.34     3000    20         28    50     0.2                3             relu
52         16      5.34            49.57              48.6     3000    20         28    25     0.4                3             relu
62         16       5.1             54.6             47.98     3000    20         28    50     0.4                4             relu
1          32      4.99             53.9             47.87     3000    10         14    25     0.2                3             relu
38         16      4.98             41.7             48.18     3000    20         14    25     0.4                4             relu
47         32      4.56            51.63             47.95     3000    20         14    50     0.4                4             relu
61         32      4.52            53.43             48.05     3000    20         28    50     0.4                3             relu
20         16      4.47             62.4             47.21     3000    10         28    25     0.4                3             relu
49         32      3.52             52.2             49.29     3000    20         28    25     0.2                3             relu
28         16      2.94             56.1             46.91     3000    10         28    50     0.4                3             relu

### binance_api_mediumtune_15min_sRSI-BB.csv data results

![](image-2.png)