In [2]:
import pandas as pd

# Örnek veri oluşturma (index: datetime formatında)
data = {'value': [10, 20, 30, 40, 50, 60, 70, 80],
        'other_column': [100, 200, 300, 400, 500, 600, 700, 800]}

index = pd.date_range(start='2023-08-01', periods=8, freq='D')
df = pd.DataFrame(data, index=index)

print(df)

            value  other_column
2023-08-01     10           100
2023-08-02     20           200
2023-08-03     30           300
2023-08-04     40           400
2023-08-05     50           500
2023-08-06     60           600
2023-08-07     70           700
2023-08-08     80           800

In [3]:
import pandas as pd

# Örnek veri oluşturma (index: datetime formatında)
data = {'value': [10, 20, 30, 40, 50, 60, 70, 80],
        'other_column': [100, 200, 300, 400, 500, 600, 700, 800]}

index = pd.date_range(start='2023-08-01', periods=8, freq='D')
df = pd.DataFrame(data, index=index)

# Tüm verileri 3 gün ileri kaydırma
shifted_df = df.shift(periods=3, fill_value=None)

print(shifted_df)

            value  other_column
2023-08-01    NaN           NaN
2023-08-02    NaN           NaN
2023-08-03    NaN           NaN
2023-08-04   10.0         100.0
2023-08-05   20.0         200.0
2023-08-06   30.0         300.0
2023-08-07   40.0         400.0
2023-08-08   50.0         500.0

In [4]:
import pandas as pd

# Örnek veri oluşturma (index: datetime formatında)
data = {'value': [10, 20, 30, 40, 50, 60, 70, 80],
        'other_column': [100, 200, 300, 400, 500, 600, 700, 800]}

index = pd.date_range(start='2023-08-01', periods=8, freq='D')
df = pd.DataFrame(data, index=index)

# 'value' sütununu 3 gün ileri kaydırma
df['value'] = df['value'].shift(3)

# Eğer 'value' sütununu 3 gün geri kaydırmak isterseniz:
# df['value'] = df['value'].shift(3)

print(df)

            value  other_column
2023-08-01    NaN           100
2023-08-02    NaN           200
2023-08-03    NaN           300
2023-08-04   10.0           400
2023-08-05   20.0           500
2023-08-06   30.0           600
2023-08-07   40.0           700
2023-08-08   50.0           800

---

In [5]:
import pandas as pd

data = {'value': [10, 20, 30, 40, 50, 60, 70, 80]}
index = pd.date_range(start='2023-08-01', periods=len(data['value']), freq='D')

df = pd.DataFrame(data, index=index)
print(df)

            value
2023-08-01     10
2023-08-02     20
2023-08-03     30
2023-08-04     40
2023-08-05     50
2023-08-06     60
2023-08-07     70
2023-08-08     80

In [6]:
import pandas as pd

data = {'other_column': [100, 200, 300, 400, 500, 600, 700, 800]}
index = pd.date_range(start='2023-08-01', periods=len(data['other_column']), freq='D')

other_column = pd.Series(data['other_column'], index=index)
print(other_column)

2023-08-01    100
2023-08-02    200
2023-08-03    300
2023-08-04    400
2023-08-05    500
2023-08-06    600
2023-08-07    700
2023-08-08    800
Freq: D, dtype: int64

In [7]:
import pandas as pd

# Örnek veri oluşturma (index: datetime formatında)
data = {'value': [10, 20, 30, 40, 50, 60, 70, 80]}
index = pd.date_range(start='2023-08-01', periods=len(data['value']), freq='D')

value_series = pd.Series(data['value'], index=index)
shifted_value_series = value_series.copy()
shifted_value_series.index = shifted_value_series.index + pd.DateOffset(days=3)

print(shifted_value_series)

2023-08-04    10
2023-08-05    20
2023-08-06    30
2023-08-07    40
2023-08-08    50
2023-08-09    60
2023-08-10    70
2023-08-11    80
dtype: int64

In [8]:
other_column

2023-08-01    100
2023-08-02    200
2023-08-03    300
2023-08-04    400
2023-08-05    500
2023-08-06    600
2023-08-07    700
2023-08-08    800
Freq: D, dtype: int64

In [12]:
df_concat = pd.concat([shifted_value_series,other_column ], axis=1)

In [13]:
df_concat

               0      1
2023-08-01   NaN  100.0
2023-08-02   NaN  200.0
2023-08-03   NaN  300.0
2023-08-04  10.0  400.0
2023-08-05  20.0  500.0
2023-08-06  30.0  600.0
2023-08-07  40.0  700.0
2023-08-08  50.0  800.0
2023-08-09  60.0    NaN
2023-08-10  70.0    NaN
2023-08-11  80.0    NaN

In [15]:
# Örnek veri oluşturma
import numpy as np
np.random.seed(42)
date_rng = pd.date_range(start='2023-01-01', end='2023-08-01', freq='D')
data = np.sin(np.arange(len(date_rng))) + np.random.normal(0, 0.1, size=len(date_rng))
df = pd.DataFrame(data, columns=['value'], index=date_rng)

# Lag özellikleri oluşturma (önceki değerler)
for i in range(1, 8):
    df[f'lag_{i}'] = df['value'].shift(i)

In [16]:
df

,value,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7
2023-01-01,0.049671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-02,0.827645,0.049671,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-03,0.974066,0.827645,0.049671,NaN,NaN,NaN,NaN,NaN
2023-01-04,0.293423,0.974066,0.827645,0.049671,NaN,NaN,NaN,NaN
2023-01-05,-0.780218,0.293423,0.974066,0.827645,0.049671,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-07-28,0.660573,-0.286926,-0.923138,-0.808680,0.064353,1.038690,0.914724,-0.005812
2023-07-29,1.381740,0.660573,-0.286926,-0.923138,-0.808680,0.064353,1.038690,0.914724
2023-07-30,0.524808,1.381740,0.660573,-0.286926,-0.923138,-0.808680,0.064353,1.038690
2023-07-31,-0.377491,0.524808,1.381740,0.660573,-0.286926,-0.923138,-0.808680,0.064353
2023-08-01,-0.902947,-0.377491,0.524808,1.381740,0.660573,-0.286926,-0.923138,-0.808680